<!-- begin:content -->
<% provide(:title, 'About Us') %>
<div class="page-content">
	<div class="container">
		<div class="row padd20-top-btm">
			<div class="col-md-6 col-sm-6">
				<h3> Boost Your Colleges International Recruitment</h3>
				<p> Mango will post sponsored ads and create content completely in Mandarin in order to increase attention from potential international students in China.  We specialize in marketing to China because China is the market leader in exchange students, with almost 30% of all exchange students coming from China.</p>
				<p><strong> For more information join our mailing list</strong></p>
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup" class = "mc-signup">
					<form action="http://consultmango.us8.list-manage1.com/subscribe/post?u=1754f04ee3254a4d9895464bc&amp;id=6e42c28d90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					  <!--<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
					  <input type="email" value="" name="EMAIL" class="email about-email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_1754f04ee3254a4d9895464bc_6e42c28d90" tabindex="-1" value=""></div>
					    <div class="clear">
					    	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-warning about-button">
					    </div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
			<div class="col-md-4 col-sm-4 img-paddingEV">
				<%= image_tag("IntlFlags.jpg", :class =>"img-responsive img-rounded", alt: "International Flags") %>
			</div>
		</div>
		<div class="row padd20-top-btm">
			<div class="col-md-4 col-sm-4">
				<%= image_tag("internationalStudent.jpg", :class =>"img-responsive img-rounded", alt: "International Student") %>
			</div>
			<div class="col-md-8 col-sm-8">
				<h3>The Mango Way</h3>
				<p>Mango is comprised of dedicated professionals committed to helping you achieve your advertising goals.  We understand the importance of maintaining a diverse campus.  Mango offers a multitude of services aimed at assisting Universities and Colleges in increasing their ability to recruit international students. </p><p> We understand internet marketing and how to best leverage technology in order best promote your colleges image abroad </p>
			</div>
		</div>
		<dif class="row">
			<div class= "text-center">
				<h3> Frequently Asked Questions </h3>
			</div>
			<div class="col-md-6">
		        <h4><strong>How does Mango work?</strong></h4>
		        <p>Our web platform automates everything. Once we launch, you can select where you advertise to, who sees your ads, and how long you want to run your ad. Take a break; let us do the heavy lifting.</p><br>
		        <h4><strong>Can I switch plans later?</strong></h4>
		        <p>Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.</p>
		    </div>
		      <div class="col-md-6">
		        <h4><strong>Do I need to choose a plan now?</strong></h4>
		        <p>Feel free to get started whenever you'd like! Call us at (440) 391 - 3421 if you'd like to talk about your ad campaign. We'll do whatever it takes to help you promote your brand internationally.</p><br>
		        <h4><strong>What payment types do you accept?</strong></h4>
		        <p>We only accept invoices for right now. Its just easier for both parties.</p>
		    </div>
		</div>
	</div>
</div>
<!-- end:content -->
