<!-- begin:heading -->
	<div class="heads" style="background: url(img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span></span> about us</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
	
	<!-- begin:content -->
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8">
					<h3>The Mango Way</h3>
					<p>Mango is comprised of dedicated professionals committed to helping you achieve your advertising goals.  We understand the importance of maintaining a diverse campus.  Mango offers a multitude of services aimed at assisting Universities and Colleges in increasing their ability to recruit international students. </p>
				</div>
				<div class="col-md-4 col-sm-4">
					<%= image_tag("IntlFlags.jpg", :class =>"img-responsive img-rounded", alt: "International Flags") %>
				</div>
			</div>
			<div class="row padd20-top-btm">
				<div class="col-md-4 col-sm-4">
					<%= image_tag("internationalStudent.jpg", :class =>"img-responsive img-rounded", alt: "International Student") %>
				</div>
				<div class="col-md-8 col-sm-8">
					<h3>The Details</h3>
					<p>Mango will post ads Chinese social media websites that link back to content we create on your behalf (in Mandarin) to increase your Colleges international exposure.  Our web platform keeps track of click-throughs and analytics on ad traffic, simply sign in and go to your profile to view your personalized analytics.  At the end of the day, you can market your brand internationally from the comfort of your desk</p>
				</div>
			</div>
			<div class="row padd20-top-btm">
				<div class="col-md-12 text-center">
					<h3>Why Mango</h3>
					<p>We’re internet marketers who understand the needs of Chinese students and ensure that your content is presented to them clearly and precisely.  At Mango we know how to maximize the technology that exists on Chinese social media. Let us amplify your message and spread your College Brand in this challenging market.</p>
				</div>
			</div>
			<dif class="row">
				<div class= "text-center">
					<h3> Frequently Asked Questions </h3>
				</div>
				<div class="col-md-6">
			        <h4><strong>How does Mango work?</strong></h4>
			        <p>Our web platform automates everything. Once we launch, you can select where you advertise to, who sees your ads, and how long you want to run your ad. Take a break; let us do the heavy lifting.</p><br>
			        <h4><strong>Can I switch plans later?</strong></h4>
			        <p>Absolutely. You can switch between our paid plans, or cancel your account altogether, whenever you like. We will adjust any payments accordingly.</p>
			    </div>
			      <div class="col-md-6">
			        <h4><strong>Do I need to choose a plan now?</strong></h4>
			        <p>Feel free to get started whenever you'd like! Call us at (440) 391 - 3421 if you'd like to talk about your ad campaign. We'll do whatever it takes to help you promote your brand internationally.</p><br>
			        <h4><strong>What payment types do you accept?</strong></h4>
			        <p>We only accept invoices for right now. Its just easier for both parties.</p>
			    </div>
			</div>
		</div>
	</div>
	<!-- end:content -->
	