<!-- begin:tagline -->
<div id="tagline">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="section-title"> Content Marketing Meets Advertising Platform </h2>
				<p class="section-subtitle"> Reach a global audience. Target your most desired student. <br>

				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="heading-title">
					<h3><!--Colleges can advertise on:--></h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-md-offset-2">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/Sina_Weibo.png" alt="Sina Weibo Logo">
					</div>
					<!-- <h3>Weibo</h3> -->
					<p><br>Weibo is the Chinese social media heavy-weight. With 60 million active users, this is a very effective channel to advertise on.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/weChat.png" alt="WeChat Logo">
					</div>
					<!-- <h3>Renren</h3> -->
					<p><br> WeChat has experienced a 1000% annual growth in the last year. This is a popular social messaging app you wouldn't want to miss. </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="featured-container">
					<div class="featured-photos">
						<img src="img/Baidu.png" alt="Baidu Logo">
					</div>
					<!-- <h3>Baidu</h3> -->
					<p><br>Baidu is the Chinese equivalent to Google. By posting sponsored ads on Baidu
						Mango can guarantee that your college will be on of the top five results.</p>
				</div>
			</div>
		</div>
		<a name = "services"> </a>
	</div>
</div>
<!-- end:tagline -->

<!-- begin:featured -->
<div id="featured">
	<div class = "custom-ads">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-3">

			<!-- <div class="slides">
		          <ul>
		            <li>
		              <img src="img/twoads-01.png" alt="image01" />
		            </li>
		            <li>
		              <img src="img/admockup-06.png" alt="image02"/>
		            </li>
		            <li>
		              <img src="img/admockup-5.png" alt="image03" />
		            </li>
		            <li>
		              <img src="img/AdMockup-03.png" alt="image04" />
		            </li>
		          </ul>
			</div> -->
			<div id="custom-ads-box">
				<h2 id="custom-ads-header"> Your Custom Advertisements </h2>
				Stand out amongst your competition on an international platform. Recruit today. 

			</div>

			</div>

			</div>
		</div>
	</div>
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

				<h2 class="section-title">Fall In Love With Our Advanced Features</h2>
				<p class="section-subtitle">Breathe. Take it easy. We'll take care of you and keep you up-to-date on your progress. </p>
		<br>
		<br>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3 col-md-offset-2">
				<div class="blog-container">
					<%= image_tag("analyticsButton.png", alt: "Ico 1") %>
					<h3>Custom Analytics</h3>
					<p>Browse and analyze detailed statistics of your advertising campaigns.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="blog-container">
					<%= image_tag("turnover_Button.png", alt: "Ico 2") %>
					<h3>Fast Turnover</h3>
					<p>Launch your advertising campaign instantly. We'll help you get the job done.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="blog-container">
					<%= image_tag("moneyButton.png", alt: "Ico 3") %>
					<h3>Highly Affordable</a></h3>
					<p>We know you're on a tight budget. You'll never over pay. We promise.</p>
				</div>
			</div>

		</div>
	</div>
</div>
</div>
</div>
<!-- end:blog -->

<!-- begin:pricing -->


<div class="features clearfix" id="features-tabs">

<div class="container">
	<ul class="nav nav-tabs" role="tablist" id="features-tablist">
		<li class="active"><a href="#features" role="tab" data-toggle="tab">Features List</a></li>
		<li><a href="#list" role="tab" data-toggle="tab">Comparison Table</a></li>
	</ul>

<div class="tab-content">
	<div class="tab-pane active clearfix" id="features">

		<div class="contact">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 id = "honest"> Honest pricing.  No surprises.</h2>
						<p> Our plans are available in 4 month, 8 month, and 12 month intervals. <br>
						We provide tailored solutions to your international recruitment needs.
						</p>
						<br>
						<br>
					</div>
				</div>

				<!--price boxes -->
				<div class="row">
					<div id = "p1" class="col-md-4 col-sm-6 col-xs-12 pricing-table">
			            <ul class="list-unstyled">
			              <li class="head">Starter  </li>
			              <li class="sub-head"> Go ahead. Give it a try. </li> <br>
			              <li class="pricing-description">
			              	We'll create Chinese social media ads for you,
			              	put up initial ads, design an HTML page for you
			              	and optimize everything to get results.
			              		              </li>
			            <li class="price">$125 <span class="a-week"> /week </span> </li>
			            <li class="blank"> </li>
			            <li class="seo">All Service Offerings Include SEO. </li>
			            </ul>
			        </div>
					<div id = "p2" class="col-md-4 col-sm-6 col-xs-12 pricing-table">
			            <ul class="list-unstyled">
			              <li class="head">Premium</li>
			              <li class="sub-head">Definitely the best value package. </li> <br>
			              <li class="pricing-description">
			              	This includes everything from the Starter as well as Weibo ads, two custom
			              	videos, access to an analytics dashboard. It's pretty cool.
			              </li>
			              <li class="price"> $450 <span class="a-week"> /week </span> </li>
			              <li class="blank"> </li>
			              <li class="seo">All Service Offerings Include SEO. </li>

			            </ul>
			        </div>
					<div id = "p3" class="col-md-4 col-sm-6 col-xs-12 pricing-table">
			            <ul class="list-unstyled">
			              <li class="head">Gold</li>
			              <li class="sub-head">It's everything you'll ever need. </li> <br>
			              <li class="pricing-description">
			                 Gold means you get it all. 6 videos, analytics, ads across multiple social
			                 media channels, 5 fully loaded WeChat conversations, and more.

			              </li>
			              <li class="price"> $750 <span class="a-week"> /week </span> </li>
			              <li class="blank"> </li>
			              <li class="seo">All Service Offerings Include SEO. </li>

			            </ul>
			        </div>
			       	<!-- <div id = "p4" class="col-md-3 col-sm-6 col-xs-12 pricing-table">
			            <ul class="list-unstyled">
			              <li class="head">Extras</li>
			              <li class="price"> $15,000 <p> For Three Months</p><p></p></li>
			              <li> Landing Page (three pages): $2,000<br>
			              	   Video hosted on Youku: $800<br>
			              	   Extra web page: $500 (per page)
			              </li>
			            </ul>
			      	</div> -->
				</div>

				<!-- end price boxes -->
				<div class="row center pad-top" id="purchase_button">
					<%= link_to "Why Wait? Recruit Now.", store_path, class: "btn btn-warning btn-lg" %>
				</div>

				<!-- add to cart, contains .erb -->

		        <!--end add to cart metrics
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
			      		<ul class="list-unstyled">
							<li>
				          		<div class = "demo">
									<select class="wrapper-dropdown-5" name="ServicePlan">
										<div>
										<option value="saab" class = "select-options">3 Months</option>
										<option value="opel" class = "select-options">6 Months</option>
										<option value="audi" class = "select-options">9 Months</option>
									</div>
									</select>
								</div>
							</li>
			        		<li class="foot"><a href="#" class="btn btn-warning btn-larges">Purchase</a></li>
			        	</ul>
					</div>
					-->
			</div>
		</div>
	</div><!-- .tab-pane -->

	<div class="tab-pane clearfix" id="list">
			<table class="table table-striped features-table">
				<thead>
					<tr>
						<th>
						</th>
						<th class="text-center">
							<small>Starter</small>
						</th>
						<th class="text-center success">
							Premium
						</th>
						<th class="text-center">
							<small>Gold</small>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Weibo page
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Renren page
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Baidu sponsored ad
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Content creation on Weibo and Renren
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							HTML/CSS one pager in Mandarin
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							2 custom videos in Mandarin
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Extra ad placement through Baidu
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Basic analytics dashboard
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Reply to Wechat inquiries
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-ok"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Renren ad placement
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Included 4 additional custom videos in Mandarin
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							Longer placed ads with through analytics
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>
							5 hosted Wechat conversations
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center success"><span class="glyphicon glyphicon-remove"></span>
						</td>
						<td class="text-center"><span class="glyphicon glyphicon-ok"></span>
						</td>
					</tr>
					<tr>
						<td>

						</td>
						<td>
						</td>
						<td class="text-center success"><strong>Best Value!</strong></span>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
			</table>
	</div><!-- .tab-pane -->
</div><!-- .tabs-content -->

</div><!-- .container -->
</div><!-- .features -->
<script>
$('#features-tablist a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

<!-- end:pricing -->



<!-- begin:testimoni -->
<div id="testimoni">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-7">
				<div id="testimoni-box">
				<h3>Our Testimonials</h3>
				<p> We can help you. We're professionals. </p>
				</div>
			</div>
		</div>
		<div class="row">
				<div id="testi" class="carousel slide" data-ride="carousel">
			      <div class="col-md-8 col-md-offset-2">
			      <div class="carousel-inner">

			        <div class="item active">
			           <p class="testimoni-item">We're looking forward to working with Mango to help introduce Hiram College to more students in China. With Mango's knowledge of China's social media platforms, this could be a great opportunity to attract more students.</p>
						<h4> -Hiram College </h4>
			        </div>
			        <div class="item">
			           <p class="testimoni-item">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<h4>&#8212; John doe, Scriptlabs &#8212;</h4>
			        </div>
			        <div class="item">
			           <p class="testimoni-item">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
						<h4>&#8212; John doe, Scriptlabs &#8212;</h4>
			        </div>
			        </div>
			      </div>
			      <div class="row">
			      <div class="col-md-12">
			      <a class="left carousel-control" href="#testi" data-slide="prev">&lsaquo;</a>
			      <a class="right carousel-control" href="#testi" data-slide="next">&rsaquo;</a>
			      </div>
			      </div>
			    </div>
			</div>
	</div>
</div>
<!-- end:testimoni -->
