<% provide(:title, 'The team') %>
<!-- begin:content -->
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>Meet the Team</h3>
				<p>Mango is a small team of professionals specializing in web development, graphic design, advertisment, and marketing.  We are creators, designers, engineers, and problem solvers.</p>
			</div>
		</div>
		
		<div class="row padd20-top-btm" id="theteam">
			<div class="col-md-6 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<%= image_tag("eric.png", :class => "img-responsive img-rounded", alt: "EV Image") %>
					</div>
					<h4><br><strong>Eric Vennaro (EV)</strong></h4>
					<h5><strong>Product Development at Mango LLC </strong></h5>
					<p>EV is always pluggin away at a database or working on the newest programming stack. In college Eric was passionate about ROTC and was a leader among Cadets in John Carroll's ROTC Army program. He's a coder by choice and a hacker at heart.</p>
				</div>
			</div>
			<!--
			<div class="col-md-4 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<img src="img/team2.png" class="img-responsive img-rounded" alt="dimas angger dwi purna">
					</div>
					<h3>programmer</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
				</div>
			</div>
			-->
			<div class="col-md-6 col-sm-4">
				<div class="team-container">
					<div class="featured-photos">
						<%= image_tag("kevin.jpg", :class => "img-responsive img-rounded", alt: "Kay Image") %>
					</div>
					<h4><br><strong>Kevin Wang (Kay)</strong></h4>
					<h5><strong>Design and Marketing at Mango LLC</strong></h5>
					<p>Kay lives and breathes design. He's an entrepreneur at heart and finds meaning in bringing concepts and ideas to life. He spends his free time working out and eating sushi. He lives his life by one simple truth: "if there is a will, there's a way." </p>
				</div>
			</div>
		</div>
		
		<div class="row padd20-top-btm">
			<div class="col-md-12 t-center">
				<h3>The Mango Team</h3>
				<p>No matter what their skill set is, all members of Mango are dedicated to delivering the kind of technological ingenuity and superior customer experience that will help you succesfully market your college brand in the ever evolving international market.</p>
			</div>
		</div>
	</div>
</div>
<!-- end:content -->