<!-- begin:content -->
<% provide(:title, 'Welcome') %>
<div class="page-content">
	<div class="container">
		<div class="row padd20-top-btm">
			<div class="col-md-8 col-sm-8">
				<h3> Hello <%= current_user.email %> </h3>
						
			</div>
		</div>
		<div class="row padd20-top-btm">
		</div>
		<dif class="row">
		</div>
	</div>
</div>
<!-- end:content -->
