<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thanks for purchasing from Mango! <br>
    Mango will work hard to  improve your brand image and increase international student leads.<br>
    See the attached invoice for detailed information on your order. <br>
    Remember to pay your invoice within thirty business days and log in to check your analytics.<br>

    Thanks! <br>

    The Mango Team
    </p>
  </body>
</html>
