
<!-- begin:heading -->
	<div class="heads" style="background: url(img/img02.jpg) center center;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span></span> Checkout</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- end:heading -->
<h1>New order</h1>
<div class = "checkout-form">
	<h3> Please Enter Your Details </h3>
	<%= render 'form' %>
	<%= link_to 'Back', orders_path %>
</div>
