// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.blog {
	width: 100%;
	margin:0 auto;
}

div.blog h2 {
	text-align:left;
}

div.blog h4 {
	margin-top: 22px;
	text-align:left;
}

div.blog p {
	text-align:left;
}

div.blog a:hover {
  color: #000;
  font-weight: bold;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

div.comments {
	padding-bottom: 0px;
	margin-top: 25px;
}

div.post {
	border-bottom: thin solid #C0C0C0;
	padding-bottom: 10px;
}

div#new-comment-form {
	margin-bottom: 20px;
}

.comment-number {
	margin-top: 0px;
	margin-bottom: 10px;
	text-indent: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #E3E3E3
}

div.single-comment {
	border-bottom: thin dotted #C0C0C0;
	margin-top: 10px;
	//margin-bottom: 10px;
}

.comment-author {
	color: #F37321;
	font-weight: bold;
}

.comment-date {
	font-size: .75em;
}