<!-- begin:footer -->
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Connect With MANGO</h3>
				<p>Make sure to follow us on your favorite social media network (will have to disable adblock plus to see)!</p>
				<ul class="list-unstyled social-icon">
	              <li><a href="#" rel="tooltip" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>
	              <li><a href="#" rel="tooltip" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
	              <li><a href="#" rel="tooltip" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
	              <li><a href="#" rel="tooltip" title="Google+" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
	            </ul>
				<div class="sitemap">
					<ul>
						<li> <%= link_to"home", root_path %> </li>
						<li> <%= link_to"about", about_path %> </li>
						<li><a href="profile.html">TEAM</a></li>
						<li><a href="contact.html">CONTACT</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:footer -->

<!-- begin:copyright -->
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<small>Copyright &copy; 2014 All Rights Reserved, Consult Mango Inc.</small>
			</div>
		</div>
	</div>
</div>
<!-- end:copyright -->