<!-- begin:footer -->
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Connect with Us</h3>
				<p> Mango is a digital advertising company focused on generating international
				student leads for American and Canadian colleges and universities. </p>
				<ul class="list-unstyled social-icon">
	              <!--<li><a href="#" rel="tooltip" title="Facebook" class="icon-facebook"><span><i class="fa fa-facebook-square"></i></span></a></li>-->
	              <li><a href="#" rel="tooltip" title="Twitter" class="icon-twitter"><span><i class="fa fa-twitter"></i></span></a></li>
	              <li style="padding-left:40px"><a href="#" rel="tooltip" title="Linkedin" class="icon-linkedin"><span><i class="fa fa-linkedin"></i></span></a></li>
	              <li style="padding-left:40px"><a href="#" rel="tooltip" title="Google+" class="icon-gplus"><span><i class="fa fa-google-plus"></i></span></a></li>
	            </ul>
				<div class="sitemap">
					
				</div>
			</div>
			<div class="col-md-4">
				<h3> Check out our work </h3>
				
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
					<h3> Get our Newsletter </h3>
					<form action="http://consultmango.us8.list-manage1.com/subscribe/post?u=1754f04ee3254a4d9895464bc&amp;id=6e42c28d90" method="post" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
	                      <!--<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
		            <div class = "form-group">
		                <input type="email" value="" name="EMAIL" placeholder="email address" id="footer-email" required>
		                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		                <div style="position: absolute; left: -5000px;"><input type="text" name="b_1754f04ee3254a4d9895464bc_6e42c28d90" tabindex="-1" value=""></div>
		                <div class="clear">
		                  <input type="submit" value="Subscribe" name="subscribe" id="footer-subscribe" class = "button btn btn-warning"> 
		                </div>
		            </div>
	                </form>
	                </div>
	            </div>
                <div class="row">
	                <h3> Recent Posts </h3>

	                <ul class="list-unstyled">
	                	<% @recent_posts.each do |post| %>
	                	<li> <%= link_to post.title, post %> </li>
	                	<% end %>
	                </ul>
	            </div>   
			</div>
		</div>
	</div>
</div>
<!-- end:footer -->

<!-- begin:copyright -->
<div id="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<small>Copyright &copy; 2014 All Rights Reserved, Consult Mango Inc.</small>
			</div>
		</div>
	</div>
</div>
<!-- end:copyright -->