<!-- begin:heading -->
	<div class="heads static-header" >
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span></span> <%= full_title(yield(:title)) %></h2>
				</div>
			</div>
		</div>
	</div>
<!-- end:heading -->