<!-- begin:slider -->
<div id="home">
	<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel" > 
		<div class="carousel-inner">
			<div class="item active" style="background: url(img/img05.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="carousel-content">
								<h2 class="animated fadeInUpBig text-center text-white"> <img src="img/powerful4.png"  /> </h2>
          				<span class="text900">
                  <p class="animated rollIn text-black text-center" style="font-size: 40px;">
          				
          				<img src="img/digital3.png" <br>  <br> <br> <br>
                        <span class="text-center" id="slogan"> 
                            Mango, tailored advertising campaigns for college brands.
                            
                        </span> 
                  </span>
                    </p>  
                  </span>
                  </div> 
                  
                </div>
              </div>
              <br>
              <br>
                  <!-- Begin MailChimp Signup Form -->
              <div class = "row">
              <div class = "col-md-6 col-md-offset-3">
                <div class = "center-block">
                  <div id="mc_embed_signup" class = "mc-signup center pd-top">
                    <form action="http://consultmango.us8.list-manage1.com/subscribe/post?u=1754f04ee3254a4d9895464bc&amp;id=6e42c28d90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
                      <!--<label for="mce-EMAIL">Subscribe to our mailing list</label> -->
                      <div class = "form-group">
                      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1754f04ee3254a4d9895464bc_6e42c28d90" tabindex="-1" value=""></div>
                        <div class="clear">
                          <input type="submit" value="Learn More" name="subscribe" id="mc-embedded-subscribe" class="button  btn-warning">
                        </div>
                        </div>
                    </form>
                  </div>
                  </div>
                  <br>
                  <br>
              </div>
              </div>
                  <!-- End mc_embed_signup -->     
            </div>
      		</div>
        </div> 		
      </div>
	</div>
</div>

<!-- end:slider -->