<!-- begin:slider -->
<div id="home">
	<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active" style="background: url(img/img01.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="carousel-content">
								<h2 class="animated fadeInUpBig text-center text-white"> <img src="img/whitemangologo.png" alt = "This Is Mango"></h2>
                  				<p class="animated rollIn text-black text-center">
                  				<span class="text900">
                  				We help colleges advertise their brand on Chinese social media  <br> to bolster 	international student recruitment.<br><br> <!--<a href="#services" class="btn btn-warning btn-lg">Get Started</a> --> </p>  
                  				</span>
              				</div>
            			</div> 
          			</div>
        		</div>
      		</div>
  		</div>
	</div>
</div>
<!-- end:slider -->